<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>LVAST</title>
    <script>
        var menuId =  [[${menuId}]];
        var maxOfSlider =  [[${maxOfSlider}]];
    </script>
    <script src="/built/bundle.js"></script>
    <!--<script>-->
        <!--require('initialize');-->
    <!--</script>-->
</head>

<body>
<div id="loadModal">
    <div class="spinner"></div>
</div>
<div id="drawingCanvasDiv"></div>
<div id="app">
    <div id="my-gui-container"></div>
</div>
</body>